*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* ///////////// */

h1 {
  font-size: 24px;
  align-self: end;
}

h2 {
  font-size: 16px;
  align-self: end;
}

h3,
h4,
h5 {
  font-size: 12px;
  align-self: end;
}

p {
  font-size: 12px;
}

.justify-self-end {
  justify-self: end;
}

/* //////////////////////// */

.app-wrapper {
  display: grid;
  grid-template-columns: 2fr 3fr;
}
/* //////////////// FORM STYLING ///////////// */
.form-wrapper {
  border: 1px solid black;
  /* padding: 2em; */
  display: flex;
  flex-direction: column;
}

.form-section {
  padding: 1.5em;
}

form {
  display: grid;
  /* row-gap: 1.3em; */
}

form > * {
  padding-block: 0.5em;
}

label {
  display: flex;
  flex-direction: column;
}

/* /////////////// CV STYLING //////////////// */
.div-line {
  border: 1.4px solid black;
  height: 0;
}
.cv-wrapper {
  display: grid;
  /* border: 1px solid black; */
  /* padding: 2em; */
}

.section-wrapper {
  display: grid;
  border: 1px solid blue;
  padding: 2em;
}

.personal-info-cv {
  /* display: grid; */
  padding-bottom: 0;
}

.personal-info-contents {
  display: grid;
  grid-template-columns: auto auto auto auto;
  grid-template-rows: auto;
}

.work-section,
.education-section {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
}

.work-dates {
  display: flex;
  gap: 2em;
}

.skills-section {
  display: grid;
  grid-template-columns: auto;
}

.list-grid {
  display: flex;
}
