*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

#root,
#__next {
  isolation: isolate;
}

/* ///////////// */

h1 {
  font-size: 24px;
  align-self: end;
}

h2 {
  font-size: 16px;
  align-self: end;
}

h3,
h4,
h5 {
  font-size: 12px;
  align-self: end;
}

p {
  font-size: 12px;
}

.justify-self-end {
  justify-self: end;
}

/* ///////////MAIN WRAPPER///////////// */

.app-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
/* //////////////// FORM STYLING ///////////// */

.aside {
  padding: 0.5em;
}

.form {
  display: grid;
  gap: 1em;
}
.form-content-wrapper {
  border: 1px solid rgb(144, 142, 142);
  padding: 1.2em;
  border-radius: 8px;
  font-size: 13px;
}
label {
  display: flex;
  flex-direction: column;
}

/* /////////////// CV STYLING //////////////// */
.div-line {
  border: 1.4px solid black;
}

.main {
  padding: 0.5em;
}

.cv-content-wrapper {
  border: 1px solid rgb(144, 142, 142);
}

.section-wrapper {
  padding: 2em;
}

.personal-info-cv {
  padding-bottom: 0;
}

.personal-info-contents {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.work-section,
.education-section {
  display: grid;
  grid-template-columns: auto auto;
  grid-template-rows: auto auto auto;
  gap: 0.5em;
}

.work-dates {
  display: flex;
  gap: 2em;
}

.skills-section {
  display: grid;
  gap: 0.5em;
}
