/* ////////// CSS RESET ////////// */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: Arial, Helvetica, serif, Georgia, "Times New Roman", sans-serif;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

ul,
ol {
  padding-left: 1em;
}

a {
  text-decoration: none;
}

#root,
#__next {
  isolation: isolate;
}

/* ////////// CSS RESET ////////// */

h1 {
  font-size: 24px;
  align-self: end;
}

h2 {
  font-size: 16px;
}

h3,
h4,
h5 {
  font-size: 12px;
  align-self: end;
}

p {
  font-size: 12px;
  grid-column: 1 / span 2;
}

button {
  border: none;
  border-radius: 4px;
  cursor: pointer;
  color: white;
  background-color: black;
  padding-block: 0.5em;
}

.justify-self-end {
  justify-self: end;
}

/* ///////////MAIN WRAPPER///////////// */
body {
  background-color: #141414;
}

.app-wrapper {
  display: grid;
  grid-template-columns: 1fr 3fr;
}
/* //////////////// FORM STYLING ///////////// */

.aside {
  padding: 0.5em;
}

.form {
  display: grid;
  gap: 1em;
  background-color: #141414;
}
.form-content-wrapper {
  padding: 1.2em;
  border-radius: 4px;
  font-size: 13px;
  border: 1px solid rgb(144, 142, 142);
  background: #ffffff;
}

.form-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.h2-skills {
  font-size: 1em;
}

label {
  display: flex;
  flex-direction: column;
}

/* /////////////// CV STYLING //////////////// */
.div-line {
  border: 1.4px solid black;
  margin-bottom: 0.5em;
}

.main {
  padding: 0.5em;
}

.cv-content-wrapper {
  border: 1px solid rgb(144, 142, 142);
  background: #fefefa;
}

.section-wrapper {
  padding: 2em;
}

.personal-info-cv {
  padding-bottom: 0;
}

.personal-info-contents {
  display: flex;
  justify-content: start;
  column-gap: 0.5em;
}

.work-section,
.education-section {
  display: grid;
  grid-template-columns: auto auto;
  row-gap: 0.2em;
}

.work-dates {
  display: flex;
  justify-self: end;
  gap: 2em;
}

ul {
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}
